openapi: 3.0.0
info:
  title: Palisade Addresses API
  description: The Palisade API enables programmatic interaction with the various features of the Palisade platform
  version: '2.0'
servers:
- url: https://api.sandbox.palisade.co
  description: Sandbox server (uses TESTNET data, private keys and accounts)
- url: https://api.palisade.co
  description: Palisade server (uses MAINNET data, private keys and accounts)
security:
- TokenAuth: []
tags:
- name: Addresses
  description: Used to manage addresses
paths:
  /v2/addresses:
    get:
      summary: List organization addresses
      description: List all addresses within the organization
      operationId: CounterpartyService_ListGlobalAddresses
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2ListGlobalAddressesResponse'
        '400':
          description: Returned when the request is malformed or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: 'validation error: - name: value length must be at least 1 characters [string.min_len].'
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '401':
          description: Returned when the request was unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authorization requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '403':
          description: Returned when the request was forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authentication requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The resource does not exist.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: The number of results to return per page (default 50, max 1000)
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: The token to retrieve the next page of results
        in: query
        required: false
        schema:
          type: string
      - name: address
        description: The on-chain address to search for
        in: query
        required: false
        schema:
          type: string
      - name: pagination.pageSize
        description: Number of results per page (default 50, max 1000)
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pagination.pageToken
        description: Token for pagination from previous response
        in: query
        required: false
        schema:
          type: string
      - name: pagination.orderBy
        description: Field to order results by
        in: query
        required: false
        schema:
          type: string
      - name: pagination.order
        description: Sort order (ASC or DESC)
        in: query
        required: false
        schema:
          type: string
          enum:
          - SORT_ORDER_ASC
          - SORT_ORDER_DESC
      - name: filter.addressId.eq
        description: Exact match
        in: query
        required: false
        schema:
          type: string
      - name: filter.addressId.notEq
        description: Not equal to
        in: query
        required: false
        schema:
          type: string
      - name: filter.addressId.contains
        description: Contains substring (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.addressId.startsWith
        description: Starts with prefix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.addressId.endsWith
        description: Ends with suffix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.addressId.in
        description: Value is in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.addressId.notIn
        description: Value is not in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.addressId.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.counterpartyId.eq
        description: Exact match
        in: query
        required: false
        schema:
          type: string
      - name: filter.counterpartyId.notEq
        description: Not equal to
        in: query
        required: false
        schema:
          type: string
      - name: filter.counterpartyId.contains
        description: Contains substring (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.counterpartyId.startsWith
        description: Starts with prefix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.counterpartyId.endsWith
        description: Ends with suffix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.counterpartyId.in
        description: Value is in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.counterpartyId.notIn
        description: Value is not in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.counterpartyId.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.address.eq
        description: Exact match
        in: query
        required: false
        schema:
          type: string
      - name: filter.address.notEq
        description: Not equal to
        in: query
        required: false
        schema:
          type: string
      - name: filter.address.contains
        description: Contains substring (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.address.startsWith
        description: Starts with prefix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.address.endsWith
        description: Ends with suffix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.address.in
        description: Value is in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.address.notIn
        description: Value is not in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.address.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.name.eq
        description: Exact match
        in: query
        required: false
        schema:
          type: string
      - name: filter.name.notEq
        description: Not equal to
        in: query
        required: false
        schema:
          type: string
      - name: filter.name.contains
        description: Contains substring (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.name.startsWith
        description: Starts with prefix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.name.endsWith
        description: Ends with suffix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.name.in
        description: Value is in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.name.notIn
        description: Value is not in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.name.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.description.eq
        description: Exact match
        in: query
        required: false
        schema:
          type: string
      - name: filter.description.notEq
        description: Not equal to
        in: query
        required: false
        schema:
          type: string
      - name: filter.description.contains
        description: Contains substring (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.description.startsWith
        description: Starts with prefix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.description.endsWith
        description: Ends with suffix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.description.in
        description: Value is in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.description.notIn
        description: Value is not in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.description.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.status
        description: Filter by address status
        in: query
        required: false
        schema:
          type: string
          enum:
          - CREATED
          - ENABLED
          - REJECTED
          - DELETED
          - ERROR
          - COMPLIANCE_PENDING
          - COMPLIANCE_COMPLETE
          - CREATION_APPROVAL_PENDING
          - CREATION_APPROVAL_COMPLETE
          - DELETION_APPROVAL_PENDING
          - DELETION_APPROVAL_COMPLETE
      - name: filter.active.eq
        description: Equals
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.active.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.blockchain.eq
        description: Exact blockchain match
        in: query
        required: false
        schema:
          type: string
          enum:
          - AVALANCHE
          - ETHEREUM
          - XRP_LEDGER
          - POLYGON
          - BNBCHAIN
          - BASE
          - HEDERA
          - ARBITRUM
          - ONE_MONEY
          - SOLANA
          - TRON
          - BITCOIN
      - name: filter.blockchain.notEq
        description: Exclude this blockchain
        in: query
        required: false
        schema:
          type: string
          enum:
          - AVALANCHE
          - ETHEREUM
          - XRP_LEDGER
          - POLYGON
          - BNBCHAIN
          - BASE
          - HEDERA
          - ARBITRUM
          - ONE_MONEY
          - SOLANA
          - TRON
          - BITCOIN
      - name: filter.blockchain.in
        description: Blockchain is in this list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - AVALANCHE
            - ETHEREUM
            - XRP_LEDGER
            - POLYGON
            - BNBCHAIN
            - BASE
            - HEDERA
            - ARBITRUM
            - ONE_MONEY
            - SOLANA
            - TRON
            - BITCOIN
      - name: filter.blockchain.notIn
        description: Blockchain is not in this list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - AVALANCHE
            - ETHEREUM
            - XRP_LEDGER
            - POLYGON
            - BNBCHAIN
            - BASE
            - HEDERA
            - ARBITRUM
            - ONE_MONEY
            - SOLANA
            - TRON
            - BITCOIN
      - name: filter.createdAt.eq
        description: Exact timestamp match
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.notEq
        description: Not equal to timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.before
        description: Before this timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.after
        description: After this timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.gte
        description: Greater than or equal to timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.lte
        description: Less than or equal to timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.between.start
        description: Start of time range (inclusive)
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.between.end
        description: End of time range (inclusive)
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.createdAt.relativeDays
        description: Relative days from now (negative for past, positive for future)
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: filter.updatedAt.eq
        description: Exact timestamp match
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.notEq
        description: Not equal to timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.before
        description: Before this timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.after
        description: After this timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.gte
        description: Greater than or equal to timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.lte
        description: Less than or equal to timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.between.start
        description: Start of time range (inclusive)
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.between.end
        description: End of time range (inclusive)
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.updatedAt.relativeDays
        description: Relative days from now (negative for past, positive for future)
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: search
        description: Case-insensitive search over address ID, on-chain address, name, and description.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Addresses
  /v2/addresses:list:
    post:
      summary: List organization addresses
      description: List all addresses within the organization
      operationId: CounterpartyService_ListGlobalAddresses2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2ListGlobalAddressesResponse'
        '400':
          description: Returned when the request is malformed or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: 'validation error: - name: value length must be at least 1 characters [string.min_len].'
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '401':
          description: Returned when the request was unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authorization requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '403':
          description: Returned when the request was forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authentication requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The resource does not exist.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2ListGlobalAddressesRequest'
        required: true
      tags:
      - Addresses
  /v2/counterparties/{counterpartyId}/addresses:
    get:
      summary: List counterparty addresses
      description: List all addresses within a counterparty
      operationId: CounterpartyService_ListAddresses
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2ListAddressesResponse'
        '400':
          description: Returned when the request is malformed or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: 'validation error: - name: value length must be at least 1 characters [string.min_len].'
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '401':
          description: Returned when the request was unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authorization requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '403':
          description: Returned when the request was forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authentication requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The resource does not exist.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: counterpartyId
        description: The counterparty ID
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: The number of results to return per page (default 50, max 100)
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: The token to retrieve the next page of results
        in: query
        required: false
        schema:
          type: string
      - name: pagination.pageSize
        description: Number of results per page (default 50, max 1000)
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pagination.pageToken
        description: Token for pagination from previous response
        in: query
        required: false
        schema:
          type: string
      - name: pagination.orderBy
        description: Field to order results by
        in: query
        required: false
        schema:
          type: string
      - name: pagination.order
        description: Sort order (ASC or DESC)
        in: query
        required: false
        schema:
          type: string
          enum:
          - SORT_ORDER_ASC
          - SORT_ORDER_DESC
      - name: filter.addressId.eq
        description: Exact match
        in: query
        required: false
        schema:
          type: string
      - name: filter.addressId.notEq
        description: Not equal to
        in: query
        required: false
        schema:
          type: string
      - name: filter.addressId.contains
        description: Contains substring (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.addressId.startsWith
        description: Starts with prefix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.addressId.endsWith
        description: Ends with suffix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.addressId.in
        description: Value is in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.addressId.notIn
        description: Value is not in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.addressId.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.counterpartyId.eq
        description: Exact match
        in: query
        required: false
        schema:
          type: string
      - name: filter.counterpartyId.notEq
        description: Not equal to
        in: query
        required: false
        schema:
          type: string
      - name: filter.counterpartyId.contains
        description: Contains substring (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.counterpartyId.startsWith
        description: Starts with prefix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.counterpartyId.endsWith
        description: Ends with suffix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.counterpartyId.in
        description: Value is in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.counterpartyId.notIn
        description: Value is not in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.counterpartyId.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.address.eq
        description: Exact match
        in: query
        required: false
        schema:
          type: string
      - name: filter.address.notEq
        description: Not equal to
        in: query
        required: false
        schema:
          type: string
      - name: filter.address.contains
        description: Contains substring (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.address.startsWith
        description: Starts with prefix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.address.endsWith
        description: Ends with suffix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.address.in
        description: Value is in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.address.notIn
        description: Value is not in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.address.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.name.eq
        description: Exact match
        in: query
        required: false
        schema:
          type: string
      - name: filter.name.notEq
        description: Not equal to
        in: query
        required: false
        schema:
          type: string
      - name: filter.name.contains
        description: Contains substring (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.name.startsWith
        description: Starts with prefix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.name.endsWith
        description: Ends with suffix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.name.in
        description: Value is in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.name.notIn
        description: Value is not in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.name.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.description.eq
        description: Exact match
        in: query
        required: false
        schema:
          type: string
      - name: filter.description.notEq
        description: Not equal to
        in: query
        required: false
        schema:
          type: string
      - name: filter.description.contains
        description: Contains substring (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.description.startsWith
        description: Starts with prefix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.description.endsWith
        description: Ends with suffix (case-insensitive)
        in: query
        required: false
        schema:
          type: string
      - name: filter.description.in
        description: Value is in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.description.notIn
        description: Value is not in the list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter.description.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.status
        description: Filter by address status
        in: query
        required: false
        schema:
          type: string
          enum:
          - CREATED
          - ENABLED
          - REJECTED
          - DELETED
          - ERROR
          - COMPLIANCE_PENDING
          - COMPLIANCE_COMPLETE
          - CREATION_APPROVAL_PENDING
          - CREATION_APPROVAL_COMPLETE
          - DELETION_APPROVAL_PENDING
          - DELETION_APPROVAL_COMPLETE
      - name: filter.active.eq
        description: Equals
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.active.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.blockchain.eq
        description: Exact blockchain match
        in: query
        required: false
        schema:
          type: string
          enum:
          - AVALANCHE
          - ETHEREUM
          - XRP_LEDGER
          - POLYGON
          - BNBCHAIN
          - BASE
          - HEDERA
          - ARBITRUM
          - ONE_MONEY
          - SOLANA
          - TRON
          - BITCOIN
      - name: filter.blockchain.notEq
        description: Exclude this blockchain
        in: query
        required: false
        schema:
          type: string
          enum:
          - AVALANCHE
          - ETHEREUM
          - XRP_LEDGER
          - POLYGON
          - BNBCHAIN
          - BASE
          - HEDERA
          - ARBITRUM
          - ONE_MONEY
          - SOLANA
          - TRON
          - BITCOIN
      - name: filter.blockchain.in
        description: Blockchain is in this list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - AVALANCHE
            - ETHEREUM
            - XRP_LEDGER
            - POLYGON
            - BNBCHAIN
            - BASE
            - HEDERA
            - ARBITRUM
            - ONE_MONEY
            - SOLANA
            - TRON
            - BITCOIN
      - name: filter.blockchain.notIn
        description: Blockchain is not in this list
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - AVALANCHE
            - ETHEREUM
            - XRP_LEDGER
            - POLYGON
            - BNBCHAIN
            - BASE
            - HEDERA
            - ARBITRUM
            - ONE_MONEY
            - SOLANA
            - TRON
            - BITCOIN
      - name: filter.createdAt.eq
        description: Exact timestamp match
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.notEq
        description: Not equal to timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.before
        description: Before this timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.after
        description: After this timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.gte
        description: Greater than or equal to timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.lte
        description: Less than or equal to timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.between.start
        description: Start of time range (inclusive)
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.between.end
        description: End of time range (inclusive)
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.createdAt.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.createdAt.relativeDays
        description: Relative days from now (negative for past, positive for future)
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: filter.updatedAt.eq
        description: Exact timestamp match
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.notEq
        description: Not equal to timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.before
        description: Before this timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.after
        description: After this timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.gte
        description: Greater than or equal to timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.lte
        description: Less than or equal to timestamp
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.between.start
        description: Start of time range (inclusive)
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.between.end
        description: End of time range (inclusive)
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: filter.updatedAt.isNull
        description: Check if field is null
        in: query
        required: false
        schema:
          type: boolean
      - name: filter.updatedAt.relativeDays
        description: Relative days from now (negative for past, positive for future)
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: search
        description: Case-insensitive search over address ID, on-chain address, name, and description.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Addresses
    post:
      summary: Create addresses
      description: Create a new address
      operationId: CounterpartyService_CreateAddress
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/counterpartyv2Address'
        '400':
          description: Returned when the request is malformed or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: 'validation error: - name: value length must be at least 1 characters [string.min_len].'
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '401':
          description: Returned when the request was unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authorization requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '403':
          description: Returned when the request was forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authentication requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The resource does not exist.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: counterpartyId
        description: The counterparty ID
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                custodian:
                  $ref: '#/components/schemas/v2Custodian'
                termsAndConditionsAccepted:
                  type: boolean
                  example: true
                  description: Whether the user has accepted the terms and conditions
                details:
                  allOf:
                  - $ref: '#/components/schemas/v2AddressDetails'
                  - type: object
                    description: The address details
              required:
              - termsAndConditionsAccepted
              - details
        required: true
      tags:
      - Addresses
  /v2/counterparties/{counterpartyId}/addresses/{addressId}:
    get:
      summary: Get addresses
      description: Get an address
      operationId: CounterpartyService_GetAddress
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/counterpartyv2Address'
        '400':
          description: Returned when the request is malformed or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: 'validation error: - name: value length must be at least 1 characters [string.min_len].'
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '401':
          description: Returned when the request was unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authorization requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '403':
          description: Returned when the request was forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authentication requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The resource does not exist.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: counterpartyId
        description: The counterparty ID
        in: path
        required: true
        schema:
          type: string
      - name: addressId
        description: The address ID
        in: path
        required: true
        schema:
          type: string
      tags:
      - Addresses
    delete:
      summary: Delete addresses
      description: Delete an address
      operationId: CounterpartyService_DeleteAddress
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DeleteAddressResponse'
        '400':
          description: Returned when the request is malformed or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: 'validation error: - name: value length must be at least 1 characters [string.min_len].'
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '401':
          description: Returned when the request was unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authorization requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '403':
          description: Returned when the request was forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authentication requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The resource does not exist.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: counterpartyId
        description: The counterparty ID
        in: path
        required: true
        schema:
          type: string
      - name: addressId
        description: The address ID
        in: path
        required: true
        schema:
          type: string
      tags:
      - Addresses
  /v2/counterparties/{counterpartyId}/addresses:list:
    post:
      summary: List counterparty addresses
      description: List all addresses within a counterparty
      operationId: CounterpartyService_ListAddresses2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2ListAddressesResponse'
        '400':
          description: Returned when the request is malformed or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: 'validation error: - name: value length must be at least 1 characters [string.min_len].'
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '401':
          description: Returned when the request was unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authorization requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '403':
          description: Returned when the request was forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authentication requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The resource does not exist.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: counterpartyId
        description: The counterparty ID
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: integer
                  format: int32
                  example: 100
                  description: The number of results to return per page (default 50, max 100)
                pageToken:
                  type: string
                  example: cGFnZV9zaXplPTEwJnBhZ2VfdG9rZW49MjA=
                  description: The token to retrieve the next page of results
                pagination:
                  allOf:
                  - $ref: '#/components/schemas/v2FilterRequest'
                  - description: 'Pagination and sorting. Sortable fields: address, name, status, active, created_at, updated_at.'
                filter:
                  allOf:
                  - $ref: '#/components/schemas/v2AddressFilter'
                  - description: Optional address filters. Each populated sub-filter is AND-ed.
                search:
                  type: string
                  example: '0x55502b9d5a68b0F8a48384352295BeD968aD8AA4'
                  description: Case-insensitive search over address ID, on-chain address, name, and description.
        required: true
      tags:
      - Addresses
components:
  schemas:
    v2DeleteAddressResponse:
      type: object
    v2AddressFilter:
      type: object
      properties:
        addressId:
          allOf:
          - $ref: '#/components/schemas/v2StringFilter'
          - description: Filter by address ID
        counterpartyId:
          allOf:
          - $ref: '#/components/schemas/v2StringFilter'
          - description: Filter by counterparty ID. For scoped address list requests, the top-level counterparty_id still scopes the request; if both are supplied, both predicates are AND-ed.
        address:
          allOf:
          - $ref: '#/components/schemas/v2StringFilter'
          - description: Filter by on-chain address
        name:
          allOf:
          - $ref: '#/components/schemas/v2StringFilter'
          - description: Filter by address name
        description:
          allOf:
          - $ref: '#/components/schemas/v2StringFilter'
          - description: Filter by address description
        status:
          allOf:
          - $ref: '#/components/schemas/v2AddressStatus'
          - description: Filter by address status
        active:
          allOf:
          - $ref: '#/components/schemas/v2BoolFilter'
          - description: Filter by active status
        blockchain:
          allOf:
          - $ref: '#/components/schemas/v2BlockchainFilter'
          - description: Filter by supported blockchain
        createdAt:
          allOf:
          - $ref: '#/components/schemas/v2TimestampFilter'
          - description: Filter by creation timestamp
        updatedAt:
          allOf:
          - $ref: '#/components/schemas/v2TimestampFilter'
          - description: Filter by last-update timestamp
    v2AddressStatus:
      type: string
      enum:
      - CREATED
      - ENABLED
      - REJECTED
      - DELETED
      - ERROR
      - COMPLIANCE_PENDING
      - COMPLIANCE_COMPLETE
      - CREATION_APPROVAL_PENDING
      - CREATION_APPROVAL_COMPLETE
      - DELETION_APPROVAL_PENDING
      - DELETION_APPROVAL_COMPLETE
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
      additionalProperties: {}
    v2BoolFilter:
      type: object
      properties:
        eq:
          type: boolean
          description: Equals
        isNull:
          type: boolean
          description: Check if field is null
    TimestampFilterTimestampRange:
      type: object
      properties:
        start:
          type: string
          format: date-time
          example: '2024-08-01T00:00:00Z'
          description: Start of time range (inclusive)
        end:
          type: string
          format: date-time
          example: '2024-08-31T23:59:59Z'
          description: End of time range (inclusive)
    v2TimestampFilter:
      type: object
      properties:
        eq:
          type: string
          format: date-time
          example: '2024-08-08T10:00:00Z'
          description: Exact timestamp match
        notEq:
          type: string
          format: date-time
          example: '2024-08-08T10:00:00Z'
          description: Not equal to timestamp
        before:
          type: string
          format: date-time
          example: '2024-08-08T10:00:00Z'
          description: Before this timestamp
        after:
          type: string
          format: date-time
          example: '2024-08-08T10:00:00Z'
          description: After this timestamp
        gte:
          type: string
          format: date-time
          example: '2024-08-08T10:00:00Z'
          description: Greater than or equal to timestamp
        lte:
          type: string
          format: date-time
          example: '2024-08-08T10:00:00Z'
          description: Less than or equal to timestamp
        between:
          allOf:
          - $ref: '#/components/schemas/TimestampFilterTimestampRange'
          - description: Between two timestamps (inclusive)
        isNull:
          type: boolean
          description: Check if field is null
        relativeDays:
          type: integer
          format: int32
          example: -7
          description: Relative days from now (negative for past, positive for future)
    counterpartyv2Address:
      type: object
      properties:
        addressId:
          type: string
          example: ce4918bf-a199-4ce2-85a3-d0d296855384
          description: The address ID
        counterpartyId:
          type: string
          example: ce4918bf-a199-4ce2-85a3-d0d296855384
          description: The counterparty ID
        createdBy:
          type: string
          example: ce4918bf-a199-4ce2-85a3-d0d296855384
          description: The ID of the user who created this address
        createdAt:
          type: string
          format: date-time
          example: '2022-03-29T10:22:22.420Z'
          description: The date and time the address was created
        updatedBy:
          type: string
          example: ce4918bf-a199-4ce2-85a3-d0d296855384
          description: The ID of the user who updated this address
        updatedAt:
          type: string
          format: date-time
          example: '2022-03-29T10:22:22.420Z'
          description: The date and time the address was updated
        custodian:
          $ref: '#/components/schemas/v2Custodian'
        termsAndConditionsAccepted:
          type: boolean
          example: true
          description: Whether the user has accepted the terms and conditions
        details:
          allOf:
          - $ref: '#/components/schemas/v2AddressDetails'
          - type: object
            description: The address details
        status:
          allOf:
          - $ref: '#/components/schemas/v2AddressStatus'
          - type: string
            example: PENDING
            description: The address status
        active:
          type: boolean
          example: true
          description: Whether the address is active
      required:
      - addressId
      - counterpartyId
      - createdBy
      - createdAt
      - updatedBy
      - updatedAt
      - termsAndConditionsAccepted
      - details
      - status
      - active
    v2ListAddressesResponse:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/v2FilterResponse'
        addresses:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/counterpartyv2Address'
            - type: object
    v2FilterResponse:
      type: object
      properties:
        previousPageToken:
          type: string
          example: cGFnZV9zaXplPTEwJnBhZ2VfdG9rZW49MjA=
          description: The token to retrieve the previous page of results
        nextPageToken:
          type: string
          example: cGFnZV9zaXplPTEwJnBhZ2VfdG9rZW49MjA=
          description: The token to retrieve the next page of results
        total:
          type: integer
          format: int32
          example: 100
          description: The total number of results
      required:
      - total
    counterpartyv2AddressType:
      type: string
      enum:
      - EXTERNAL
    v2ExternalAddress:
      type: object
      properties:
        address:
          type: string
          example: '0x55502b9d5a68b0F8a48384352295BeD968aD8AA4'
          description: The address
        name:
          type: string
          example: Treasury
          description: The address name
        description:
          type: string
          example: Wallet used to store treasury funds
          description: The address description
        blockchains:
          type: array
          example:
          - ETHEREUM
          items:
            $ref: '#/components/schemas/v2Blockchain'
          description: The blockchains supported by the address
      required:
      - address
      - name
      - blockchains
    v2ListGlobalAddressesResponse:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/v2FilterResponse'
        addresses:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/counterpartyv2Address'
            - type: object
    v2Blockchain:
      type: string
      enum:
      - AVALANCHE
      - ETHEREUM
      - XRP_LEDGER
      - POLYGON
      - BNBCHAIN
      - BASE
      - HEDERA
      - ARBITRUM
      - ONE_MONEY
      - SOLANA
      - TRON
      - BITCOIN
    v2StringFilter:
      type: object
      properties:
        eq:
          type: string
          description: Exact match
        notEq:
          type: string
          description: Not equal to
        contains:
          type: string
          description: Contains substring (case-insensitive)
        startsWith:
          type: string
          description: Starts with prefix (case-insensitive)
        endsWith:
          type: string
          description: Ends with suffix (case-insensitive)
        in:
          type: array
          items:
            type: string
          description: Value is in the list
        notIn:
          type: array
          items:
            type: string
          description: Value is not in the list
        isNull:
          type: boolean
          description: Check if field is null
    v2SortOrder:
      type: string
      enum:
      - SORT_ORDER_ASC
      - SORT_ORDER_DESC
    v2BlockchainFilter:
      type: object
      properties:
        eq:
          allOf:
          - $ref: '#/components/schemas/v2Blockchain'
          - description: Exact blockchain match
        notEq:
          allOf:
          - $ref: '#/components/schemas/v2Blockchain'
          - description: Exclude this blockchain
        in:
          type: array
          items:
            $ref: '#/components/schemas/v2Blockchain'
          description: Blockchain is in this list
        notIn:
          type: array
          items:
            $ref: '#/components/schemas/v2Blockchain'
          description: Blockchain is not in this list
    v2ListGlobalAddressesRequest:
      type: object
      properties:
        pageSize:
          type: integer
          format: int32
          example: 1000
          description: The number of results to return per page (default 50, max 1000)
        pageToken:
          type: string
          example: cGFnZV9zaXplPTEwJnBhZ2VfdG9rZW49MjA=
          description: The token to retrieve the next page of results
        address:
          type: string
          example: '0x55502b9d5a68b0F8a48384352295BeD968aD8AA4'
          description: The on-chain address to search for
        pagination:
          allOf:
          - $ref: '#/components/schemas/v2FilterRequest'
          - description: 'Pagination and sorting. Sortable fields: address, name, status, active, created_at, updated_at.'
        filter:
          allOf:
          - $ref: '#/components/schemas/v2AddressFilter'
          - description: Optional address filters. Each populated sub-filter is AND-ed.
        search:
          type: string
          example: Treasury
          description: Case-insensitive search over address ID, on-chain address, name, and description.
    v2AddressDetails:
      type: object
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/counterpartyv2AddressType'
          - type: string
            example: EXTERNAL
            description: The address type
        externalAddress:
          $ref: '#/components/schemas/v2ExternalAddress'
      required:
      - type
    v2FilterRequest:
      type: object
      properties:
        pageSize:
          type: integer
          format: int32
          example: 50
          description: Number of results per page (default 50, max 1000)
        pageToken:
          type: string
          example: cGFnZV9zaXplPTEwJnBhZ2VfdG9rZW49MjA=
          description: Token for pagination from previous response
        orderBy:
          type: string
          example: created_at
          description: Field to order results by
        order:
          allOf:
          - $ref: '#/components/schemas/v2SortOrder'
          - description: Sort order (ASC or DESC)
    v2Custodian:
      type: object
      properties:
        name:
          type: string
          example: Palisade Financial
          description: The Virtual Asset Service Provider's name
        dId:
          type: string
          example: did:example:123456789abcdefghi
          description: The Virtual Asset Service Provider's Decentralized Identifier
      required:
      - name
      - dId
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/protobufAny'
            - type: object
  securitySchemes:
    TokenAuth:
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  description: Click here for the API docs
  url: https://palisade.readme.io
