openapi: 3.0.0
info:
  title: Palisade Addresses Non-orchestration payments API
  description: The Palisade API enables programmatic interaction with the various features of the Palisade platform
  version: '2.0'
servers:
- url: https://api.sandbox.palisade.co
  description: Sandbox server (uses TESTNET data, private keys and accounts)
- url: https://api.palisade.co
  description: Palisade server (uses MAINNET data, private keys and accounts)
security:
- TokenAuth: []
tags:
- name: Non-orchestration payments
  description: ' '
paths:
  /payments:
    get:
      tags:
      - Non-orchestration payments
      summary: Get payments
      description: 'Retrieves all payments in an instance of xCurrent that meet the criteria defined by the query parameters. You can use the query parameters to filter payments. The default parameters are `sort_field : MODIFIED_AT` , `sort_direction : DESC` , `page : 0` , `size : 10`'
      operationId: getPayments
      parameters:
      - name: page
        in: query
        description: 'The page number for [paginated results](/products/payments-odl/api-docs/ripplenet/best-practices/pagination/). The value is zero-based, where `0` represents the first page.<br/>

          Set it to `0` to get the first page of results.

          '
        required: false
        schema:
          type: integer
          default: 0
      - name: size
        in: query
        description: Number of payments to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: sending_host
        in: query
        description: Optional parameter for filtering `with sendingHost` value.
        required: false
        schema:
          type: string
      - name: receiving_host
        in: query
        description: Optional parameter for filtering with `receivingHost` value.
        required: false
        schema:
          type: string
      - name: sending_account
        in: query
        description: Optional parameter for filtering with `sendingAccount` value.
        required: false
        schema:
          type: string
      - name: receiving_account
        in: query
        description: Optional parameter for filtering with `receivingAccount` value.
        required: false
        schema:
          type: string
      - name: sending_currency
        in: query
        description: Optional parameter for filtering with `sendingCurrency` value.
        required: false
        schema:
          type: string
      - name: receiving_currency
        in: query
        description: Optional parameter for filtering with `receivingCurrency` value.
        required: false
        schema:
          type: string
      - name: payment_id
        in: query
        description: Optional parameter for filtering with `paymentId` value. This parameter is deprecated. Please use `payment_ids` instead
        required: false
        deprecated: true
        schema:
          type: string
          format: uuid
      - name: payment_type
        in: query
        description: Filters for payments based on the type of payment. Valid types are `REGULAR`, `RETURN`.
        required: false
        schema:
          type: string
      - name: internal_id
        in: query
        description: Optional parameter for filtering with internalId.
        required: false
        schema:
          type: string
      - name: sender_end_to_end_id
        in: query
        description: Optional parameter for filtering with senderEndToEndId.
        required: false
        schema:
          type: string
      - name: connector_role
        in: query
        description: Filters for payments based on the role of the responding connector. Valid roles are `SENDING`, `INTERMEDIARY`, `RECEIVING`, and `INTERNAL`. The `INTERNAL` role is meant for payments between RippleNet Cloud and RippleNet where the sender and receiver accounts are on the same RippleNet instance. Use role with state to find payments waiting on action from you as the sending or receiving (or internal) connector.
        required: false
        schema:
          type: string
      - name: state
        in: query
        description: 'Deprecated, should use states parameter. Returns payments in the specified state. The following options are valid: `ACCEPTED`, `COMPLETED`, `EXECUTED`, `FAILED`, `LOCKED`, `LOCK_DECLINED`, `PREPARED`, `RETURNED`, and `SETTLEMENT_DECLINED`'
        required: false
        schema:
          type: string
      - name: states
        in: query
        description: 'Returns payments in the specified states. The following options are valid: `ACCEPTED`, `COMPLETED`, `EXECUTED`, `FAILED`, `LOCKED`, `LOCK_DECLINED`, `PREPARED`, `RETURNED`, and `SETTLEMENT_DECLINED`'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: before
        in: query
        description: Filters for payments where the payments `range_field` column value is before this specified time stamp (not inclusive). You can also specify `after` to create a time range between `after` and `before`. If before is specified, `range_field` must also be specified.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Filters for payments where the payments `range_field` column value is after this specified time stamp (not inclusive). You can also specify `before` to create a time range between `after` and `before`. If `after` is specified, `range_field` must also be specified.
        required: false
        schema:
          type: string
      - name: range_field
        in: query
        description: 'Designates the column name of the payments database table that is used for filtering payments before/after/between time stamps. The following options are valid: `CREATED_AT`, `MODIFIED_AT`, `ACCEPTED_AT`, `LOCKED_AT`, `EXECUTED_AT`, `COMPLETED_AT`, `RETURNED_AT` and `EXPIRES_AT`. For example, if you specify `range_field`=`MODIFIED_AT`, you would specify a time stamp (in the 24 character ISO 8601 YYYY-MM-DDTHH:mm:ss.sssZ format used in payment objects) as the value for `before` and/or `after` to fetch payments before, after, or between the specified time range(s) (not inclusive). If `range_field` is specified, `before` and/or `after` must also be specified.'
        required: false
        schema:
          type: string
      - name: amount_range_field
        in: query
        description: Designates the column name of the payments database table that is used for filtering payments greater/less/between amounts. For example, if you specify `amount_range_field=SENDING_AMOUNT`, you would specify an amount as the value for `greater` and/or `less` to fetch payments greater, less, or between the specified amounts (inclusive). If `amount_range_field` is specified, `minAmount` and/or `maxAmount` must also be specified.
        required: false
        schema:
          type: string
          enum:
          - SENDING_AMOUNT
          - RECEIVING_AMOUNT
      - name: min_amount
        in: query
        description: Optional parameter for filtering with min sending/receiving amount.
        required: false
        schema:
          type: number
          minimum: 0
      - name: max_amount
        in: query
        description: Optional parameter for filtering with max sending/receiving amount.
        required: false
        schema:
          type: number
          minimum: 0
      - name: with_labels
        in: query
        description: Returns payments with the specified labels. <p>If you apply `with_labels` with <i>multiple</i> labels, the response returns payments with at least one of the specified labels.</p> <p>For example, the query, </p> <p><b>?with_labels=string1,string2</b></p> <p>returns payments with either &quot;string1&quot; OR &quot;string2&quot;.</p>
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: without_labels
        in: query
        description: Returns payments that do <i>not</i> have any of the specified labels. <p>If you apply `without_labels` with <i>multiple</i> labels, the response returns payments that do not have any of the specified labels.</p> <p>For example, the query,</p> <p><b>?without_labels=string3,string4</b></p> <p>returns payments that are not labeled with either &quot;string3&quot; OR &quot;string4&quot;.</p> <p>If you apply both `with_labels` <i>and</i> `without_labels` parameters, the response returns payments that have at least one of the specified `with_labels` strings but omits payments that also have any of the the `without_labels` strings. </p> <p>For example, the query, </p> <p><b>?with_labels=string1&without_labels=string3</b></p> <p>returns payments with &quot;string1&quot; but not payments with &quot;string3&quot;.</p>
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: sort_field
        in: query
        description: Sorts results according to the specified field. Valid options are `PAYMENT_ID`, `EXPIRES_AT`, `MODIFIED_AT` and `CREATED_AT`.
        required: false
        schema:
          type: string
          default: MODIFIED_AT
      - name: sort_direction
        in: query
        description: Sorts result according to the specified direction. Valid options are `ASC`, `DESC`.
        required: false
        schema:
          type: string
          default: DESC
      - name: load_additional_details
        in: query
        required: false
        description: This parameter can be used to exclude additional info being returned for each payment object. Additional info which will be excluded if the flag set to false include user_info, ripplenet_info, execution_results and internal_info.labels
        schema:
          type: boolean
          default: true
      - name: payment_ids
        in: query
        required: false
        description: List of paymentIds to search for
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
            text/csv:
              schema:
                $ref: '#/components/schemas/Payments'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
            text/csv:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /payments/{payment_id}:
    get:
      tags:
      - Non-orchestration payments
      summary: Get payment by payment ID
      description: Gets a payment by ID.
      operationId: getPaymentByPaymentId
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier of the payment you want to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully retrieved payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /payments/{payment_id}/lock:
    post:
      tags:
      - Non-orchestration payments
      summary: Lock payment
      description: 'Locks a payment. The beneficiary and all intermediary institutions agree to proceed with the payment by making successful Lock Payment requests. When the payment is still in a _partially_ `LOCKED` state, the beneficiary and all intermediary institutions who have _not_ locked, can [reject lock payment](#operation/rejectLockPayment) or [fail payment](#operation/failPayment).


        Once fully `LOCKED`, the originating institution can either [fail payment](#operation/failPayment) or [Settle payment](#operation/settlePayment). If the originating institution sends a Settle payment request, one of three things will happen:


        * Successful payments move to the `PREPARED` state.

        * Payments with insufficient liquidity automatically move into state `SETTLEMENT_DECLINED`, or

        * Payments that are not settled before the `crypto_transaction_id` expires move to the `FAILED` state.


        **Note**: Currently, when making a [Create quote to return payment](#operation/createQuoteToReturnPayment) to a RippleNet Cloud account on a RippleNet ledger, the RippleNet user must lock and complete the payment. This means that the RippleNet user takes all action on the return: Get and Accept Quote, Lock, Settle, and Complete payment.

        '
      operationId: lockPayment
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier of the payment to lock.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLockRequest'
        required: true
      responses:
        '200':
          description: Successfully locked payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /payments/{payment_id}/reject:
    post:
      tags:
      - Non-orchestration payments
      summary: Reject lock payment
      description: 'Rejects a payment from being locked.


        This temporarily stops the payment and keeps it in a recoverable state so that [user_info](/products/payments-odl/api-docs/ripplenet/resources/srpo/user-info) can be corrected. If the payment is incorrect for reasons outside of the `user_info` object, use [Fail payment](#operation/failPayment).


        After a payment has been created by an [Accept quote](#operation/acceptQuote) request, the beneficiary or an intermediary can choose to reject the payment, rather than [Lock payment](#operation/lockPayment), with corrections to `user_info` in the reasons array. A rejected payment moves the payment state to `LOCK_DECLINED` from which it can be recovered by the originating institution with a [Retry accept payment](#operation/retryAcceptPayment) request.


        If any one institution in the payment chain is configured to _auto-fail_, the payment automatically fails when the payment is rejected, moving to the `FAILED` state rather than the `LOCK_DECLINED` state.

        '
      operationId: rejectLockPayment
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier of a payment to reject a lock request.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        $ref: '#/components/requestBodies/PaymentDenyRequest'
      responses:
        '200':
          description: Successfully rejected the request to lock a payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /payments/{payment_id}/retry_accept:
    post:
      tags:
      - Non-orchestration payments
      summary: Retry accept payment
      description: Returns a rejected payment from the `LOCK_DECLINED` state to the `ACCEPTED` state. The payment sender must include repaired [user_info](/products/payments-odl/api-docs/ripplenet/resources/srpo/user-info) in the request body.
      operationId: retryAcceptPayment
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier of the payment to return to `ACCEPTED` state.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRetryAcceptRequest'
        required: true
      responses:
        '200':
          description: Successfully resubmitted payment for locking.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /payments/{payment_id}/fail:
    post:
      tags:
      - Non-orchestration payments
      summary: Fail payment
      description: 'Fails a payment. Fail payment is a deliberate action that permanently stops the payment and puts it into a non-recoverable state.


        An institution _rejects_ a payment to solicit changes to [user_info](/products/payments-odl/api-docs/ripplenet/resources/srpo/user-info); it _fails_ a payment to stop it altogether. After a payment has been created by an [Accept quote](#operation/acceptQuote) request, you can fail the payment if it is your institution''s turn to take an action on the payment.


        The originating institution can fail a payment in states `LOCKED` and `LOCK_DECLINED`. The beneficiary and intermediary institutions can fail a payment in the `ACCEPTED` state. Beneficiary institutions can also fail a payment in the `EXECUTED` state. The general use case for failing an executed payment is to [Create quote to return payment](#operation/createQuoteToReturnPayment) to the originating institution.


        Payments in states `PREPARED` and `SETTLEMENT_DECLINED` can fail _automatically_&#8212;`PREPARED` when the crypto-transaction expires and `SETTLEMENT_DECLINED` when the payment expires.

        '
      operationId: failPayment
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier of the payment to fail.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        $ref: '#/components/requestBodies/PaymentDenyRequest'
      responses:
        '200':
          description: Successfully failed a payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /payments/{payment_id}/settle:
    post:
      tags:
      - Non-orchestration payments
      summary: Settle payment
      description: Executes a payment in the <code>LOCKED</code> state. Payment senders can also <b>retry settling a payment</b> in the <code>SETTLEMENT_DECLINED</code> state, after the error is corrected (and before the payment expires).<p>Settle payment sends a _prepare payment transfer_ message, which travels to all participants in the payment. This sets the payment state to `PREPARED`, which means that funds have been transferred to the hold account on that xCurrent ledger.</p> <p>The beneficiary institution then signs the `execution_condition` (creating a payload) and sends an _execute payment transfer_ message, which travels to all participants in the payment). When the payment is fully executed, funds have been transferred from the hold account to the receiver account on all xCurrent ledgers and the payment state is set to <code>EXECUTED</code>.</p>
      operationId: settlePayment
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier of the payment to settle.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSettleRequest'
      responses:
        '200':
          description: Successfully prepared payment settlement. Execution is asynchronous.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '409':
          description: Concurrent request already in progress. Any 200 response result is unchanged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /payments/{payment_id}/finalize:
    post:
      tags:
      - Non-orchestration payments
      summary: Finalize payment
      description: Marks a payment with finalized sub-states that reflect what is happening to the payment while it is in the <code>EXECUTED</code> state. The receiving institution can make this request multiple times to provide a log of each subsequent sub-state until it is ready to make the [Complete payment](#operation/completePayment) request.
      operationId: finalizePayment
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier of a payment for which to set a sub-state.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentFinalizeRequest'
        required: true
      responses:
        '200':
          description: Returns a payment with sub-states represented as labels.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /payments/{payment_id}/sub_state:
    post:
      tags:
      - Non-orchestration payments
      summary: Add payment sub state
      description: Adds a sub-state to a payment that reflects what is happening to the payment while it is in the `EXECUTED` state. All nodes on the payment chain can make this request multiple times to provide a log of each subsequent sub-state until the receiver is ready to make the [Complete payment](#operation/completePayment) request.<p>This operation is especially useful for completing cash payouts&#8212;sending institutions can add clarifying user information to a payment after it has been executed (and money has been moved). </p>
      operationId: addPaymentSubState
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier of a payment for which to set a sub-state.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSubStateRequest'
        required: true
      responses:
        '200':
          description: Returns a payment with sub-states represented as labels.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /payments/{payment_id}/complete:
    post:
      tags:
      - Non-orchestration payments
      summary: Complete payment
      description: Marks a payment as complete by placing it in the `COMPLETED` state. Typically, the receiving institution makes this request when it has delivered payment funds to the final beneficiary on its internal systems outside of xCurrent.
      operationId: completePayment
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier of the payment to place in the `COMPLETED` state.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCompleteRequest'
        required: true
      responses:
        '200':
          description: Returns a completed payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /payments/{payment_id}/labels:
    put:
      tags:
      - Non-orchestration payments
      summary: Add payment labels
      description: Adds a list of labels to the payment. To retrieve payments by label, see [Get payments](#operation/getPayments).
      operationId: addPaymentLabels
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier of the payment you want to label.
        required: true
        schema:
          type: string
          format: uuid
      - name: label
        in: query
        description: Text of the label you want to add to the payment.
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successfully added one or more labels to the payment.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
    delete:
      tags:
      - Non-orchestration payments
      summary: Delete payment labels
      description: Deletes an existing label from a payment. The label you provide is deleted from the `labels` array in the Payment object.
      operationId: deletePaymentLabels
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier of the payment from which to delete a label.
        required: true
        schema:
          type: string
          format: uuid
      - name: label
        in: query
        description: Text of the label you want to delete from the payment.
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successfully deleted label from payment.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Labels to be deleted not found on the payment ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /payments/{payment_id}/node-status:
    get:
      tags:
      - Non-orchestration payments
      summary: Get payment node status
      description: Senders can query for the RippleNet instances (in a given payment chain) that have payments in the <code>LOCKED</code> state. This information is only stored on the sender's RippleNet instance.
      operationId: getPaymentNodeStatus
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier of the payment for which to get states on each node participating in the payment.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully retrieved payment states on each node participating in the payment.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NodeStatus'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /payments/filtered/{payment_id}:
    get:
      tags:
      - Non-orchestration payments
      summary: Get filtered payment by payment ID
      description: Returns a sanitized payment with sensitive content filtered from the `user_info` object. <p>Filtering `user_info` is customizable in `rnn.properties`. Content that is denylisted by default&#58;</p> <p>```/Cdtr, /CdtrAcct, /Dbtr, /DbtrAcct, /InitgPty, /InstForCdtrAgt, /Purp, /RgltryRptg, /RltdRmtInf, /RmtInf, /UltmtCdtr, /UltmtDbtr, /outbound_instructions/beneficiary_info```</p>
      operationId: getFilteredPaymentByPaymentId
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier of the filtered payment you want to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully retrieved filtered payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredPayment'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /quote_collections/return:
    post:
      tags:
      - Non-orchestration payments
      summary: Create quote to return payment
      description: 'Creates a collection of quotes that can be used to return a payment.


        The receiver can make this request while the payment is in states `EXECUTED`, `COMPLETED`, or `FAILED`. When the returned payment is successfully moved to the `COMPLETED` state, the original payment is moved to the `RETURNED` state.


        **Note**: Currently, when making a Return Payment to a RippleNet Cloud account on a RippleNet ledger, the RippleNet user must lock and complete the payment. This means that the RippleNet user takes all action on the return: Get and Accept Quote, Lock, Settle, and Complete payment.

        '
      operationId: createQuoteToReturnPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentReturnQuoteRequest'
        required: true
      responses:
        '200':
          description: Successfully returned a collection of quotes to return a payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteCollection'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '500':
          description: Server Error - an internal error occured while making Return Quote calls.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
  /quote_collections/reversal:
    post:
      tags:
      - Non-orchestration payments
      summary: Create quote to reverse payment
      description: 'Creates a quote collection containing at most one quote that can be used to reverse a payment.


        The receiver can make this request while the payment is in states `EXECUTED`, `COMPLETED`, or `FAILED`. When the returned payment is successfully moved to the `COMPLETED` state, the original payment is moved to the `RETURNED` state.


        **Note**: Currently, when making a Reversal Payment to a RippleNet Cloud account on a RippleNet ledger, the RippleNet user must lock and complete the payment. This means that the RippleNet user takes all action on the reverse: Get and Accept Quote, Lock, Settle, and Complete payment.

        '
      operationId: createQuoteToReversePayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentReversalQuoteRequest'
        required: true
      responses:
        '200':
          description: Successfully returned a collection of quotes to return a payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteCollection'
        '400':
          description: Original payment has previously been returned, reversed, or is in an invalid payment state for reversal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '404':
          description: Original payment was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
        '500':
          description: Reversals are disabled on this instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RippleNetProblem'
      security:
      - Bearer: []
components:
  schemas:
    Sort:
      type: object
      properties:
        direction:
          type: string
          description: Direction of the sort
          example: ASC
        property:
          type: string
        ignoreCase:
          type: boolean
        nullHandling:
          type: string
          example: NULLS_FIRST
        ascending:
          type: boolean
          example: true
        descending:
          type: boolean
          example: false
    PaymentRetryAcceptRequest:
      type: object
      properties:
        user_info:
          type: object
          description: Provide one or more arbitrary key/value pairs.
          properties: {}
          example:
            SF ACCEPTED: Payment to NY
            last_name: Gonzalez
            first_name: Elle
      description: Use this JSON request object to move a payment from `LOCK_DENIED` state back to `ACCEPTED` state, making it available for locking by intermediaries and the receiver.
    QuoteElement:
      type: object
      required:
      - quote_element_id
      - quote_element_order
      - quote_element_type
      - receiver_address
      - receiving_amount
      - receiving_fee
      - sender_address
      - sending_amount
      - sending_fee
      properties:
        quote_element_id:
          type: string
          format: uuid
          example: 259189e7-cb14-42e7-99ef-375f3285e356
          description: Unique identifier for the quote element.
        quote_element_type:
          type: string
          example: EXCHANGE
          description: Type of quote element.<p><ul> <li>`TRANSFER` represents the movement of funds between two accounts.</li> <li>`EXCHANGE` represents the exchange of currencies between two accounts.</li> <li>`EXCHANGE_TRADE` represents the exchange of fiat to digital currency on a digital exchange.</li> <li>`CRYPTO_TRANSFER` represents the movement of digital funds between two digital exchanges.</li> </ul></p>
          enum:
          - TRANSFER
          - EXCHANGE
          - EXCHANGE_TRADE
          - CRYPTO_TRANSFER
        quote_element_order:
          type: string
          example: '1'
          description: Order of each quote element along the liquidity path. If a quote includes five quote elements, each one is enacted according to its quote_element_order number to make the proposed payment.
        sender_address:
          type: string
          example: sf@rn.us.ca.san_francisco
          description: RippleNet account name and address of the sender, in the format `accountname@ripplenetaddress`. For example, `new_york@rn.us.ny.new_york`.
        receiver_address:
          type: string
          example: sf_gbp@rn.us.ca.san_francisco
          description: RippleNet account name and address of the receiver, in the format `accountname@ripplenetaddress`. For example, `new_york@rn.us.ny.new_york`.
        sending_amount:
          type: number
          example: 1
          description: Amount the sender is sending.
        receiving_amount:
          type: number
          example: 355
          description: Amount the receiver is receiving.
        sending_fee:
          type: number
          example: 0
          description: Fees the sender is charging. When `quote_element_type` is set to `EXCHANGE`, this field value is always set to `0`.
        receiving_fee:
          type: number
          example: 0
          description: Fees the receiver is charging. When `quote_element_type` is set to `EXCHANGE`, this field value is always set to `0`.
        sending_currency_code:
          type: string
          example: USD
          description: Currency code of the sending amount. Included in quote elements with `quote_element_type` set to `EXCHANGE`.
        receiving_currency_code:
          type: string
          example: GBP
          description: Currency code of the receiving amount. Included in quote elements with `quote_element_type` set to `EXCHANGE`.
        fx_rate:
          $ref: '#/components/schemas/FXRate'
        transfer_currency_code:
          type: string
          description: Currency code of the transfer. Included in quote elements with `quote_element_type` set to `TRANSFER`.
      description: JSON object that provides transfer and exchange elements used to provide the quote. A transfer element represents the transfer of currency between two accounts. An exchange element represents the exchange of currencies between two accounts.
    PaymentFinalizeRequest:
      type: object
      required:
      - memo
      - sub_state
      properties:
        sub_state:
          type: string
          minLength: 1
          maxLength: 128
          example: FORWARDED
          description: Free-form string that describes a sub-state of the payment while it is in the `EXECUTED` state, for example, `FORWARDED` or `AWAITING_COLLECTION`. Displays as a `label` value in the `labels` array. Also displays as the `key` value in the receiving node's `user_info.executed` array.
        memo:
          type: string
          example: Heading to payout location
          description: Free-form details that describe the `sub_state` of the payment, for example, `with courier heading to payout location`. Displays as the `value` value in the receiving node's `user_info.executed` array.
      description: Use this JSON request object to mark a payment with finalized sub-states that reflect what is happening to the payment while it is in the `EXECUTED` state.
    TotalFees:
      type: object
      required:
      - total_fee
      - fee_currency
      properties:
        total_fee:
          type: number
          description: total value of fee
        fee_currency:
          type: string
          description: currency of the fee charged
    PaymentReturnQuoteRequest:
      type: object
      required:
      - original_payment_id
      properties:
        original_payment_id:
          type: string
          format: uuid
          example: d485f100-2af7-4e48-9ab1-3c7e28775691
          description: ID of the original payment to be returned.
        return_reasons:
          type: object
          description: 'Object with `key` and `value` pairs that describe the reason the payment is being returned.


            The fields should contain the following `key` values: `reason`, `code`, and `type`.


            These values are included in a payment created from a quote in the response. They are included in the `user_info.returned` array for the node sending the return payment.

            '
          properties: {}
          example:
            REASON: Wrong receiving amount
            TYPE: Account Error
            CODE: A-999
        return_amount_type:
          type: string
          example: TOTAL_RECEIVED_MINUS_FEES
          description: Amount type of the return payment.<p>To indicate that the sender of the return payment will send the amount it received, set to `TOTAL_RECEIVED`.</p><p>To indicate that the sender of the return payment will send the amount it received minus its receiving fees, set to `TOTAL_RECEIVED_MINUS_FEES`.</p>
          enum:
          - TOTAL_RECEIVED
          - TOTAL_RECEIVED_MINUS_FEES
          default: TOTAL_RECEIVED
        custom_fee:
          type: number
          description: Custom fee charged and collected by the sending account. Setting this field overrides all applicable fees configured on the sender's RippleNet instance.
        custom_rate:
          $ref: '#/components/schemas/PaymentQuoteCustomRateRequest'
        force_path_finding_and_liquidity_path_finding:
          type: boolean
          description: When true, this flag tells RippleNet to ignore cached value for path finding and liquidity path finding and perform new path finding and liquidity path finding.
          example: false
          default: false
        receiver_address:
          type: string
          example: sf@rn.us.ca.san_francisco
          description: The desired receiving account for the return payment as a RippleNet address. This account must be owned by the original payment's sender.
      description: Use this JSON request object to generate a collection of quotes that can be used to return a payment.
    RippleNetProblem:
      type: object
      description: Represents a request to create and update a payout method record.
      properties:
        type:
          type: string
          example: https://errors.ripplenet.ripple.com/error/json-processing-error
          description: URL to the error documentation.
        title:
          type: string
          example: Invalid Request Object
          description: Summary of the returned problem.
        detail:
          type: string
          example: The request parameter [account_id] is not in the correct format.
          description: Description of the returned problem.
        status:
          type: number
          example: 400
          description: HTTP error code.
        ripplenet_error_code:
          type: string
          example: E0104
          description: RippleNet specific error code.
        finality:
          type: string
          example: PERMANENT
          description: Specifies if the request can be retried for a successful response.
    FilteredPayment:
      type: object
      description: A sanitized payment with sensitive content filtered from the `user_info` object.
      allOf:
      - $ref: '#/components/schemas/BasePayment'
      - type: object
      - $ref: '#/components/schemas/UserInfoArray'
    Quote:
      type: object
      required:
      - amount
      - created_at
      - currency_code
      - currency_code_filter
      - expires_at
      - liquidity_warning
      - price_guarantee
      - quote_elements
      - quote_id
      - receiver_address
      - sender_address
      - service_type
      - type
      properties:
        quote_id:
          type: string
          format: uuid
          example: 2a547e56-4aac-4375-86a8-8b3e7014801d
          description: Unique identifier for the quote.
        created_at:
          type: string
          format: date-time
          example: '2020-01-29T20:59:44.925Z'
          description: Date and time at which the quote was created, as an ISO-8601 timestamp in UTC.
        expires_at:
          type: string
          format: date-time
          example: '2020-01-29T21:29:44.925Z'
          description: Date and time after which the quote and its pricing expire, as an ISO-8601 timestamp in UTC.
          default: 300s/300000ms
        type:
          type: string
          example: SENDER_AMOUNT
          description: Indicates how the amount field should be treated for calculating quote values.
          enum:
          - SENDER_AMOUNT
          - RECEIVER_AMOUNT
          - SENDER_INSTITUTION_AMOUNT
          - RECEIVER_INSTITUTION_AMOUNT
          - REVERSAL_AMOUNT
        price_guarantee:
          type: string
          example: FIRM
          description: Indicates whether a quote's pricing is `INDICATIVE` or `FIRM`. An `INDICATIVE` quote allows for price movements between quote issuance and payment execution, such that the quoted amount and delivered amount may differ. A `FIRM` quote ensures that the quoted and delivered payment amounts are equal.
          default: FIRM
        sender_address:
          type: string
          example: sf@rn.us.ca.san_francisco
          description: RippleNet account name and address of the sender, in the format `accountname@ripplenetaddress`. For example, `new_york@rn.us.ny.new_york`.
        receiver_address:
          type: string
          example: sf_gbp@rn.us.ca.san_francisco
          description: RippleNet account name and address of the receiver, in the format `accountname@ripplenetaddress`. For example, `new_york@rn.us.ny.new_york`.
        amount:
          type: string
          example: '1'
          description: Amount to be sent or received, depending on the `type` value.
        currency_code:
          type: string
          example: USD
          description: Currency code for the `amount` value.
        currency_code_filter:
          type: string
          example: EUR
          description: Currency code that can be used to filter quotes at the opposite end of the quote request. For example, you can filter by this currency code to find the receiving currency for a quote with a `SENDER_AMOUNT` quote_type. If not sent in the request, this field value is set to `null`.
        service_type:
          type: string
          description: Returns `null`.
        quote_elements:
          type: array
          description: Transfer and exchange elements. A transfer element represents a movement of funds between two accounts. An exchange element represents the exchange of currencies between two accounts.
          items:
            $ref: '#/components/schemas/QuoteElement'
        liquidity_warning:
          type: string
          description: Triggered when a quote causes an account to go below its `minimum_allowed_balance`. Otherwise, this field value is set to `null`.
        payment_method:
          type: string
          example: LOCAL_RAILS
          description: Payout method for the quote.
        payment_method_fields:
          type: string
          example: '{"category_id":"bank","required_originator_fields":[{"field_name":"sender_address","field_label":"Sender address"}]}'
          description: JSON object containing payment method metadata.
        payout_method_info:
          type: object
          description: Details about the payout method.
          properties:
            payout_method_name:
              type: string
              example: Cash Payout
              description: Payout method for the quote.
            payout_method_category:
              type: string
              example: BOOK_TRANSFER
              description: Category of the payout method. Defaults to <code>OTHER</code> if not specified.
              enum:
              - REAL_TIME_GROSS_SETTLEMENT_SYSTEM
              - REAL_TIME_NET_SETTLEMENT_SYSTEM
              - MASS_NET_PAYMENT_SYSTEM
              - BOOK_TRANSFER
              - CASH_PAYOUT
              - WALLET_PAYMENT
              - OTHER
            description:
              type: string
              example: local rails
              description: User defined description of the payout method.
            estimated_time_to_credit:
              type: string
              example: 3 days
              description: The estimated time to credit the beneficiary using this payout method.
      description: JSON response object that represents a quote for a proposed payment or return payment.
    PaymentSettleRequest:
      type: object
      properties:
        user_info:
          type: object
          description: Provide one or more arbitrary key/value pairs.
          properties: {}
      description: Use this JSON request object to begin payment settlement.
    QuotePathRos:
      type: object
      required:
      - source
      - destination
      - source_currency
      - destination_currency
      properties:
        source:
          type: string
          description: RippleNet account name and address of the source account, in the format `accountname@ripplenetaddress`. For example, `new_york@rn.us.ny.new_york`.
        destination:
          type: string
          description: RippleNet account name and address of the destination account, in the format `accountname@ripplenetaddress`. For example, `new_york@rn.us.ny.new_york`.
        source_currency:
          type: string
          description: Currency associated with the source account.
        destination_currency:
          type: string
          description: Currency associated with the destination account.
        account_liquidity_relationship_id:
          type: string
          format: uuid
          example: 480e3a6f-3bcd-48cd-9ce9-9d940aa3c9c6
          description: Unique identifier for an account liquidity relationship.
        peer_liquidity_relationship_id:
          type: string
          format: uuid
          example: 480e3a6f-3bcd-48cd-9ce9-9d940aa3c9c6
          description: Unique identifier for a peer liquidity relationship.
      description: Object that describes a liquidity path used to generate a quote.
      x-docs-model-object:
        object-name: Quote Path Object
    ExecutionResult:
      type: object
      required:
      - execution_result_id
      - execution_result_order
      - execution_result_type
      - execution_timestamp
      - receiver_address
      - receiving_amount
      - receiving_fee
      - sender_address
      - sending_amount
      - sending_fee
      properties:
        execution_result_id:
          type: string
          format: uuid
          example: 06f6d4e2-3523-4d17-92fd-53192a06207f
          description: Unique identifier for this payment result.
        execution_timestamp:
          type: string
          format: date-time
          example: '2019-10-01T18:24:29.867Z'
          description: Date and time at which this portion of the payment was executed, as an ISO-8601 timestamp in UTC.
        execution_result_type:
          type: string
          example: TRANSFER
          description: Type of payment execution result.<p><ul> <li>`TRANSFER` represents the movement of funds between two accounts.</li> <li>`EXCHANGE` represents the exchange of currencies between two accounts.</li> <li>`EXCHANGE_TRADE` represents the exchange of fiat to digital currency on a digital exchange.</li> <li>`CRYPTO_TRANSFER` represents the movement of digital funds between two digital exchanges.</li> </ul></p>
          enum:
          - TRANSFER
          - EXCHANGE
          - EXCHANGE_TRADE
          - CRYPTO_TRANSFER
        execution_result_order:
          type: integer
          example: 1
          description: Order in which the payment execution action was taken along the liquidity path. For example, a payment may include five execution results along the liquidity path. Each execution result has an order number that indicates the order in which the execution result was achieved to make the payment.
        sender_address:
          type: string
          example: trans_usd_sf@rn.us.ca.san_francisco
          description: RippleNet account name and address of the sender, in the format `accountname@ripplenetaddress`. For example, `new_york@rn.us.ny.new_york`.
        receiver_address:
          type: string
          example: conct_usd_sf@rn.us.ca.san_francisco
          description: RippleNet account name and address of the receiver, in the format `accountname@ripplenetaddress`. For example, `new_york@rn.us.ny.new_york`.
        sending_amount:
          type: number
          example: 498
          description: Amount the sender is sending.
        receiving_amount:
          type: number
          example: 498
          description: Amount the receiver is receiving.
        sending_fee:
          type: number
          example: 2
          description: Fees the sender is charging.
        receiving_fee:
          type: number
          example: 0
          description: Fees the receiver is charging.
        sending_currency_code:
          type: string
          example: USD
          description: Currency code of the sending amount. Included in execution results with `execution_result_type` set to `EXCHANGE`.
        receiving_currency_code:
          type: string
          example: GBP
          description: Currency of the receiving amount. Included in execution results with `execution_result_type` set to `EXCHANGE`.
        fx_rate:
          $ref: '#/components/schemas/FXRate'
        transfer_currency_code:
          type: string
          description: Currency of the transfer. Returned in execution results with `execute_result_type` set to `TRANSFER`.
        intermediary_delta:
          type: number
          example: 0.2
          description: Amount of XRP representing the difference in FX rate between the moment of quoting and the moment of execution. A positive value is the amount taken out of the incentive pool. A negative value is the amount returned to the incentive pool. (Soon to be deprecated)
        incentive_type:
          type: string
          example: firm
          description: Configuration of the incentive pool on the xRapid side. Two values are supported, `firm` and `fx`. For `firm`, xRapid guarantees that the FX rate at the moment of execution is the same as at the moment of quoting. For `fx`, xRapid guaratees a predefined FX rate.
        incentive_value:
          type: number
          example: 0.2
          description: Amount of XRP representing the difference in FX rate between the moment of quoting and the moment of execution. A positive value is the amount taken out of the incentive pool. A negative value is the amount returned to the incentive pool.
        transaction_hash:
          type: string
          example: 5.5467794184785867e+76
          description: Hash representing the unique identifier for the transfer of funds in the XRP ledger.
        venue_id:
          type: string
          example: nz7RpAujYgnQtjEM
          description: The id from an exchange associated with a transaction involving an exchange account.
        fiat_adjusted_value:
          type: number
          example: 0.02
          description: Represents the delta between quoted and received executed amounts, for exchange trades.
        odl_payment_id:
          type: string
          description: Payment ID in On-Demand Liquidity (ODL) for an executed ODL payment containing the transaction represented by this execution result.
      description: Represents the actual movement of funds in a payment. Each execution result corresponds to a quote element and represents its execution in a payment. Included once the payment is in `EXECUTED` state.
    RippleNetInfo:
      type: object
      required:
      - node_address
      - settlement_declined
      properties:
        node_address:
          type: string
          example: rn.us.ny.new_york
          description: RippleNet address of the node from which the RippleNetInfo originated.
        settlement_declined:
          type: array
          description: If applicable, provides an array of RippleNetInfoEntry's explaining transitions into the `SETTLEMENT_DECLINED` state
          items:
            $ref: '#/components/schemas/RippleNetInfoEntry'
      description: Application-generated information explaining actions taken by RippleNet applications.
    PaymentDenyRequest:
      type: object
      required:
      - reasons
      properties:
        reasons:
          type: object
          description: Provide one or more arbitrary key/value pairs.
          properties: {}
          example:
            type: RECEIVER_DATA_VALIDATION
            code: AC03
            reason: Creditor account number invalid or missing
      description: Use this JSON request object to fail a payment or reject a request to lock a payment.
    PaymentQuoteCustomRateRequest:
      type: object
      required:
      - base_currency
      - counter_currency
      - rate
      - rate_type
      properties:
        rate:
          type: number
          description: Exchange rate for a base and counter currency.
        base_currency:
          type: string
          description: Base currency of the exchange rate.
        counter_currency:
          type: string
          description: Counter currency of the exchange rate.
        rate_type:
          type: string
          enum:
          - buy
          - sell
          description: Order type for the exchange rate. Valid values are `sell` or `buy`. <p><ul><li>When rate_type = buy, `base_currency` is source ccy and `counter_currency` is destination ccy.</li> <li>When rate_type = sell, `base_currency` is destination ccy and `counter_currency` is source ccy.</li> </ul></p>
      description: JSON request object to specify a custom exchange rate during quote collection generation.
    Payment:
      description: JSON response object that represents a payment. A payment is the movement of value across accounts on potentially different RippleNet instances involving one or more currencies.
      required:
      - user_info
      - internal_info
      - accepted_at
      allOf:
      - $ref: '#/components/schemas/BasePayment'
      - type: object
        properties:
          accepted_at:
            type: string
            format: date-time
            example: '2019-10-01T18:25:47.347Z'
            description: Date and time at which the payment was last accepted, as an ISO-8601 timestamp in UTC.
          locked_at:
            type: string
            format: date-time
            example: '2019-10-01T18:25:47.347Z'
            description: Date and time at which the payment was last locked, as an ISO-8601 timestamp in UTC.
          executed_at:
            type: string
            format: date-time
            example: '2019-10-01T18:25:47.347Z'
            description: Date and time at which the payment was last executed, as an ISO-8601 timestamp in UTC.
          completed_at:
            type: string
            format: date-time
            example: '2019-10-01T18:25:47.347Z'
            description: Date and time at which the payment was last completed, as an ISO-8601 timestamp in UTC.
          returned_at:
            type: string
            format: date-time
            example: '2019-10-01T18:25:47.347Z'
            description: Date and time at which the payment was returned, as an ISO-8601 timestamp in UTC.
          internal_info:
            $ref: '#/components/schemas/InternalInfo'
          user_info:
            type: array
            description: User-provided data with arbitrary key/value pairs.
            items:
              $ref: '#/components/schemas/UserInfo'
    InternalInfo:
      required:
      - connector_role
      - internal_id
      - labels
      properties:
        connector_role:
          type: string
          example: RECEIVING
          description: 'Role of the RippleNet node that sets one or more values in the Internal Info object.


            Use as follows:


            * `SENDING`: Sending account in the payment resides on this RippleNet instance.

            * `RECEIVING`: Receiving account in the payment resides on this RippleNet instance.

            * `INTERMEDIARY`: Neither sending nor receiving accounts in the payment reside on this RippleNet instance.

            * `INTERNAL`: Both sending and receiving accounts in the payment (usually between RippleNet Cloud and RippleNet) reside on this RippleNet instance.

            '
          enum:
          - SENDING
          - RECEIVING
          - INTERMEDIARY
          - INTERNAL
        labels:
          type: array
          description: Array of objects that provide `label` values that are set by including the `sub_state` field at any stage of the payment's lifecycle. Labels can used as a filtering mechanism when searching for payments. Labels are visible only to the node that added them to this copy of a payment. If the values that populate this array are not set in the request or if the values set in the request are not viewable by your node, this array is empty.
          items:
            $ref: '#/components/schemas/Label'
        internal_id:
          type: string
          description: ID that is viewable only to the node that set it. This value can be set by the sender when accepting a payment. This value can also be set by any intermediary and the receiver when locking the payment. If this value is not set in the request or if the value set in the request is not viewable by your node, this field value is set to `null`.
      description: JSON object containing information that only the RippleNet instance that set it can view. These values can be set by the sender when accepting a payment and by an intermediary or receiver when locking the payment.
    LiquidationDetails:
      type: object
      description: Payment liquidation details
      properties:
        id:
          type: string
          format: uuid
          description: Liquidation ID, unique to the liquidation process of this payment
        status:
          type: string
          description: Liquidation status
        failure_reason:
          type: string
          description: Reason behind failure of the liquidation, only applicable if the status is failure
        failure_count:
          type: integer
          description: Number of times the liquidation failed. Irrelevant if status is successful.
    QuoteError:
      type: object
      required:
      - failed_path
      - error_message
      properties:
        failed_path:
          type: array
          description: Quote path that failed.
          items:
            $ref: '#/components/schemas/QuotePathRos'
        error_origin:
          type: string
          description: RippleNet address of where the error originated. For example, `rn.us.ny.new_york`.
        error_message:
          type: string
          description: Message that describes the error.
      description: Object that describes an error that happened during quote collection.
      x-docs-model-object:
        object-name: Quote Error Object
        nested-objects-array:
        - property-name: failed_path
          object: quote-path
          docs-name: Quote Path Array
          data-type: Array
          has-nested-display: true
    PaymentReversalQuoteRequest:
      type: object
      required:
      - original_payment_id
      - reversal_reason
      properties:
        original_payment_id:
          type: string
          format: uuid
          example: d485f100-2af7-4e48-9ab1-3c7e28775691
          description: ID of the original payment to be reversed.
        reversal_reason:
          $ref: '#/components/schemas/PaymentReversalReason'
      description: Use this JSON request object to generate a collection of quotes that can be used to reverse a payment.
    QuoteCollection:
      type: object
      required:
      - quote_collection_id
      - quotes
      properties:
        quote_collection_id:
          type: string
          format: uuid
          example: 4711728c-cd35-49ec-96a5-72732b4333ec
          description: Unique identifier of the quote collection.
        quotes:
          type: array
          items:
            $ref: '#/components/schemas/Quote'
          description: For more information on quote elements, see [Create quote collections](/products/payments-odl/api-docs/ripplenet/tutorials/configure-fees#create-quote-collections).
        quote_errors:
          type: array
          items:
            $ref: '#/components/schemas/QuoteError'
      description: When provided as a response to the [Create quote collection](#operation/createQuoteCollection) request, provides a JSON object representing quotes for a proposed payment. <p>When provided as a response to the [Create quote to return payment](#operation/createQuoteToReturnPayment)  request, provides a JSON object representing quotes for a proposed return payment.</p> <p>When provided as a response to the [Reverse Payment](#operation/createQuoteToReversePayment) request, provides a JSON object representing a quote for a proposed reverse payment.</p> <p>When provided as a response to the [Get quote collection by ID](#operation/createQuoteCollection) request, provides the requested quote collection.</p>
    PaymentReversalReason:
      type: object
      required:
      - code
      properties:
        code:
          type: string
          example: RB001
          description: The code indicating the reason for payment reversal. For code descriptions and error handling information, see [Returns and failure codes](/products/payments-odl/api-docs/ripplenet/resources/error-codes/returns-and-error-codes/).
          enum:
          - RB001
          - RB002
          - RB003
          - RB004
          - RB005
          - RB008
          - RB009
          - RB010
          - RB011
          - RB012
          - RB013
          - RB017
          - RB018
          - RB023
          - RB024
          - RB026
          - RB027
          - RB028
          - RB029
          - RB030
          - RB031
          - RB032
          - RB033
          - RB034
          - RB035
          - RB036
          - RB037
          - AC01
          - AC03
          - AC04
          - AC06
          - AC08
          - AC09
          - AC11
          - AC12
          - AC13
          - AC14
          - AC15
          - AG01
          - AG02
          - AG03
          - AG05
          - AG06
          - AM02
          - AM03
          - AM04
          - AM11
          - AM13
          - AM14
          - AM15
          - AM21
          - AM22
          - BE01
          - BE04
          - BE05
          - BE06
          - BE07
          - BE08
          - BE09
          - BE10
          - BE11
          - BE12
          - BE13
          - BE14
          - BE15
          - BE16
          - BE17
          - BE18
          - BE19
          - BE20
          - BE21
          - BE22
          - CERI
          - CH11
          - CH12
          - CH13
          - CH14
          - CH21
          - CNOR
          - CUST
          - DS24
          - DU05
          - DUPL
          - ED06
          - FF03
          - FF04
          - FF05
          - FF06
          - FF07
          - FF08
          - FF10
          - MD06
          - MD07
          - MS02
          - MS03
          - NARR
          - RC01
          - RC02
          - RC04
          - RC05
          - RC07
          - RC08
          - RC10
          - RC12
          - RF01
          - RR01
          - RR02
          - RR03
          - RR04
          - RR05
          - RR06
          - RR07
          - RR10
        description:
          type: string
          example: No account / Unable to locate account
          description: Optional. User-defined string describing the reason for payment reversal. When using the reversal reason code `NARR` (Narrative), you must specify the reason for the return in the `reversal_reason` object's `description` attribute.
      description: A structured object detailing reasons for a payment reversal.
    NodeStatus:
      type: object
      required:
      - nodeAddress
      - pathOrder
      - paymentId
      - paymentState
      properties:
        paymentId:
          type: string
          format: uuid
          example: efdf213c-9f64-43f7-80ab-15e7b4d139ae
          description: Unique identifier of the payment.
        paymentState:
          type: string
          description: State of the payment. This API only recognizes payments in the <code>LOCKED</code> state. For more on payment states, see **Payment States** in the _RippleNet Developer Guide_.<p></p>
          example: LOCKED
          enum:
          - QUOTED
          - ACCEPTED
          - AWAITING_COLLECTION
          - COMPLETED
          - EXECUTED
          - FAILED
          - FORWARDED
          - LOCK_DECLINED
          - LOCKED
          - PREPARED
          - RETURNED
          - SETTLEMENT_DECLINED
        nodeAddress:
          type: string
          example: rn.eur.uk.london
          description: RippleNet address of the participating node reporting the payment state.
        pathOrder:
          type: integer
          format: int32
          example: 3
          description: Each node in the payment chain participates in sequence. Provides the order in the sequence in which this node participates.
      description: An array of objects that provide the following field values describing the state of a payment on each node participating in the payment.
    UserInfo:
      type: object
      required:
      - accepted
      - completed
      - executed
      - failed
      - forwarded
      - lock_declined
      - locked
      - node_address
      - retry_accept
      - retry_settlement
      - returned
      - settlement
      - settlement_declined
      properties:
        node_address:
          type: string
          example: rn.us.ca.san_francisco
          description: RippleNet address of the node that provided the user information.
        accepted:
          type: array
          description: User information optionally provided when accepting the payment.
          items:
            $ref: '#/components/schemas/UserInfoEntry'
        locked:
          type: array
          description: User information optionally provided when locking the payment. For more information, see [User Info Entry Object][user-info-entry].
          items:
            $ref: '#/components/schemas/UserInfoEntry'
        lock_declined:
          type: array
          description: User information optionally provided when declining to lock the payment. For more information, see [User Info Entry Object][user-info-entry].
          items:
            $ref: '#/components/schemas/UserInfoEntry'
        retry_accept:
          type: array
          description: User information optionally provided when retrying acceptance of the payment. For more information, see [User Info Entry Object][user-info-entry].
          items:
            $ref: '#/components/schemas/UserInfoEntry'
        retry_settlement:
          type: array
          description: User information optionally provided when retrying settlement of the payment. For more information, see [User Info Entry Object][user-info-entry].
          items:
            $ref: '#/components/schemas/UserInfoEntry'
        settlement:
          type: array
          description: User information optionally provided when settling the payment. For more information, see [User Info Entry Object][user-info-entry].
          items:
            $ref: '#/components/schemas/UserInfoEntry'
        settlement_declined:
          type: array
          description: User information optionally provided when settlement for the payment is declined. For more information, see [User Info Entry Object][user-info-entry].
          items:
            $ref: '#/components/schemas/UserInfoEntry'
        failed:
          type: array
          description: User information optionally provided when failing the payment. For more information, see [User Info Entry Object][user-info-entry].
          items:
            $ref: '#/components/schemas/UserInfoEntry'
        executed:
          type: array
          description: Payment sub-state information provided using `sub_state` and `memo` fields when finalizing the payment. For more information, see [User Info Entry Object][user-info-entry].
          items:
            $ref: '#/components/schemas/UserInfoEntry'
        completed:
          type: array
          description: User information optionally provided when completing the payment. For more information, see [User Info Entry Object][user-info-entry].
          items:
            $ref: '#/components/schemas/UserInfoEntry'
        forwarded:
          type: array
          description: If applicable, user information optionally provided when forwarding the payment. For more information, see [User Info Entry Object][user-info-entry].
          items:
            $ref: '#/components/schemas/UserInfoEntry'
        returned:
          type: array
          description: If applicable, information optionally provided using `return_reasons` when returning the payment. For more information, see [User Info Entry Object][user-info-entry].
          items:
            $ref: '#/components/schemas/UserInfoEntry'
      description: User information provided across the payment lifecycle.
    UserInfoEntry:
      type: object
      required:
      - created_at
      - json
      properties:
        json:
          type: object
          description: User information provided across the payment lifecycle stored as arbitrary JSON key/value pairs.
          properties: {}
        created_at:
          type: string
          format: date-time
          description: Date and time at which the user information was added to the payment, as an ISO-8601 timestamp in UTC.
        subState:
          type: string
          example: EXECUTING
          description: If provided, this parameter descibes payment state more granularly.
      description: User information provided as arbitrary key/value pairs.
    PaymentSubStateRequest:
      type: object
      required:
      - memo
      - sub_state
      properties:
        sub_state:
          type: string
          minLength: 1
          maxLength: 128
          example: AMENDED
          description: Free-form string that describes a sub-state of the payment while it is in the `EXECUTED` state, for example, `FORWARDED` or `AWAITING_COLLECTION`. Displays as a `label` value in the `labels` array. Also displays as the `key` value in the receiving node's `user_info.executed` array.
        memo:
          type: string
          example: Last name must be corrected
          description: Free-form details that describe the `sub_state` of the payment, for example, `with courier heading to payout location`. Displays as the `value` value in the receiving node's `user_info.executed` array.
        info:
          type: object
          description: Provide one or more arbitrary key/value pairs.
          properties: {}
          example:
            last_name: Gonzales
      description: Use this JSON request object to mark a payment with finalized sub-states that reflect what is happening to the payment while it is in the `EXECUTED` state.
    RippleNetInfoEntry:
      type: object
      properties:
        info:
          type: string
          example: L001
          description: Information explaining the action taken by a RippleNet application. Could be a RippleNet error code, or a written explanation of the action taken
        created_at:
          type: string
          format: date-time
          example: '2018-04-06T20:33:35Z'
          description: The DateTime that this quote was created, as an ISO-8601 timestamp in UTC.
      description: Application-generated information explaining an action taken by a RippleNet application
    PaymentContract:
      type: object
      required:
      - created_at
      - expires_at
      - quote
      - sender_end_to_end_id
      properties:
        sender_end_to_end_id:
          type: string
          description: ID that the sender can specify. Persisted on all RippleNet instances that participate in the payment.
          maxLength: 128
          minLength: 1
        created_at:
          type: string
          format: date-time
          example: '2019-10-01T18:18:13.665Z'
          description: Date and time at which this payment contract was created, as an ISO-8601 timestamp in UTC.
        expires_at:
          type: string
          format: date-time
          example: '2019-10-01T18:55:22.824Z'
          description: Date and time after which this payment contract expires, as an ISO-8601 timestamp in UTC.
          default: 300s/300000ms
        quote:
          $ref: '#/components/schemas/Quote'
        fee_info:
          $ref: '#/components/schemas/FeeInfo'
      description: Represents all immutable parts of a payment agreed upon by all participants as a part of the [Lock payment](#operation/lockPayment) flow. Once a payment transitions to the `LOCKED` state, the values in this object cannot change.
    BasePayment:
      type: object
      required:
      - contract
      - contract_hash
      - crypto_transaction_id
      - execution_condition
      - execution_results
      - modified_at
      - payment_id
      - payment_state
      - payment_type
      - returned_by_payment_with_id
      - returns_payment_with_id
      - validator
      properties:
        payment_id:
          type: string
          format: uuid
          example: d485f100-2af7-4e48-9ab1-3c7e28775691
          description: Unique identifier of a payment.
        contract_hash:
          type: string
          example: ccb23bd87f13cc13b9d616a9723f76e112aeac8628b2082e0f8bf3b8c670b103
          description: Hash of all values in the Contract object used to ensure immutability. Once a payment transitions to the `LOCKED` state, the values in this object cannot change.
        payment_state:
          type: string
          example: COMPLETED
          description: State of the payment. For details about payment states, see **Payment States** in the _RippleNet Developer Guide_.
          enum:
          - ACCEPTED
          - AWAITING_COLLECTION
          - COMPLETED
          - EXECUTED
          - FAILED
          - FORWARDED
          - LOCK_DECLINED
          - LOCKED
          - PREPARED
          - RETURNED
          - SETTLEMENT_DECLINED
        modified_at:
          type: string
          format: date-time
          example: '2019-10-01T18:25:47.347Z'
          description: Date and time at which the payment was last modified, as an ISO-8601 timestamp in UTC.
        contract:
          $ref: '#/components/schemas/PaymentContract'
        ripplenet_info:
          type: array
          description: Application-provided data explaining actions taken by RippleNet applications.
          items:
            $ref: '#/components/schemas/RippleNetInfo'
        execution_condition:
          type: string
          example: PrefixSha256Condition{subtypes=[ED25519-SHA-256], type=PREFIX-SHA-256, fingerprint=sfGGHCrkyaMsLQNB62w_4zarlPChHKm47JkXVQbs1z0, cost=132360}
          description: A Base64-encoded execution condition for this payment, the fulfillment of which will be presented to the validator to complete this payment. This value must match the `execution_condition` in the associated crypto transaction.
        crypto_transaction_id:
          type: string
          example: 4e05da26-7872-4a1f-b9b7-db7604757c37
          description: Unique identifier of the crypto transaction associated with this payment.
        validator:
          type: string
          example: rn.us.ca.san_francisco
          description: Address of the validator that validated the payment.
        payment_type:
          type: string
          example: REGULAR
          description: Payment type.
          enum:
          - REGULAR
          - RETURN
        returns_payment_with_id:
          type: string
          format: uuid
          description: If the `payment_type` is `RETURN`, provides the payment ID of the original payment that this payment returns. Otherwise, this field value is set to `null`.
        returned_by_payment_with_id:
          type: string
          format: uuid
          description: If the `payment_type` is `REGULAR` and the payment has an associated return payment, provides the payment ID of the return payment. Otherwise, this field value is set to `null`.
        execution_results:
          type: array
          description: Represents the actual movement of funds in a payment. Each execution result corresponds to a quote element and represents its execution in a payment.
          items:
            $ref: '#/components/schemas/ExecutionResult'
        liquidation_execution_results:
          type: array
          description: Represents the actual movement of funds in a payment as part of liquidation of a Wallet Receive payment.
          items:
            $ref: '#/components/schemas/ExecutionResult'
        liquidation_details:
          $ref: '#/components/schemas/LiquidationDetails'
        push_forward_execution_results:
          type: array
          description: Represents the movement of funds after an On-Demand Liquidity payment fails at intermediary transfer or destination exchange.
          items:
            $ref: '#/components/schemas/ExecutionResult'
      description: JSON response object that represents a payment. A payment is the movement of value across accounts on potentially different RippleNet instances involving one or more currencies.
    Payments:
      allOf:
      - $ref: '#/components/schemas/Page'
      - properties:
          content:
            type: array
            items:
              $ref: '#/components/schemas/Payment'
      description: 'Paged response for payments includes:'
    PaymentLockRequest:
      type: object
      properties:
        internal_id:
          type: string
          maxLength: 128
          description: ID that intermediaries and the receiver can set when locking a payment. The ID is viewable only by the node that set it.
        user_info:
          type: object
          description: Provide one or more arbitrary key/value pairs. <p></p> <p><b>Caution&#58;</b> Ripple recommends that you always include this object, even when empty, to ensure that the RippleNet Payment Object includes the <code>created_at</code> timestamp, which records when the payment was locked. To add an empty object, include&#58; <code>&#123;&#34;user_info&#34;&#58;&#91;&#93;&#125;</code></p>
          properties: {}
      description: Use this JSON request object to lock a payment.
    FeeInfo:
      type: object
      required:
      - nodes
      - total_fees
      properties:
        nodes:
          type: object
          description: Fees charged by each node participating in the payment.
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/FeeDetails'
        total_fees:
          type: array
          description: Total fees charged in the payment, separated by currency.
          items:
            $ref: '#/components/schemas/TotalFees'
      description: Itemized list of fees charged by each node.
    Label:
      properties:
        label:
          type: string
          description: Label to be attached
      description: Label object
    FXRate:
      type: object
      required:
      - base_currency_code
      - counter_currency_code
      - rate
      - type
      properties:
        rate:
          type: number
          example: 3.25
          description: Exchange rate between a base and counter currency.
        base_currency_code:
          type: string
          example: USD
          description: Currency code of the base currency.
        counter_currency_code:
          type: string
          example: GBP
          description: Currency code of the counter currency.
        type:
          type: string
          example: buy
          description: Order type of the exchange rate. Valid values are `buy` or `sell`.
      description: The details of an FX Rate for a quote or payment.
    Page:
      type: object
      properties:
        first:
          type: boolean
          description: true if  this is the first page.
        last:
          type: boolean
          description: true if  this is the last page.
        number:
          type: integer
          description: page number
        numberOfElements:
          type: integer
          description: Number Of elements in this request
        size:
          type: integer
          description: page size
        totalElements:
          type: integer
          description: Total number of elements for the given request
          format: int64
        totalPages:
          type: integer
          description: Total number of pages for the given request
        sort:
          type: array
          description: Sort details of this page
          items:
            $ref: '#/components/schemas/Sort'
      description: Paginated response base object.
    FeeDetails:
      type: object
      required:
      - fee_value
      - fee_currency
      - category
      properties:
        fee_value:
          type: number
          description: value of the fee
        fee_currency:
          type: string
          description: currency of the fee charged
        category:
          type: string
          description: category of the fee
        fee_description:
          type: string
          description: optional description of the fee
    UserInfoArray:
      properties:
        user_info:
          type: array
          description: Collection of user-provided data whose keys are filtered based on a configurable denylist.
          items:
            $ref: '#/components/schemas/UserInfo'
    PaymentCompleteRequest:
      type: object
      properties:
        user_info:
          type: object
          description: Provide one or more arbitrary key/value pairs.
          properties: {}
      description: Use this JSON request object to complete a payment
  requestBodies:
    PaymentDenyRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentDenyRequest'
      required: true
  securitySchemes:
    TokenAuth:
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  description: Click here for the API docs
  url: https://palisade.readme.io
