openapi: 3.2.0
info:
  title: Palisade Tags API
  description: The Palisade API enables programmatic interaction with the various features of the Palisade platform
  version: '2.0'
servers:
- url: https://api.sandbox.palisade.co
  description: Sandbox server (uses TESTNET data, private keys and accounts)
- url: https://api.palisade.co
  description: Palisade server (uses MAINNET data, private keys and accounts)
security:
- TokenAuth: []
tags:
- name: Tags
  description: Used to manage organization tags
paths:
  /v2/tags:
    get:
      summary: List all tags for the organization
      description: List all wallet and vault tags for the organization
      operationId: VaultService_ListGlobalTags
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2ListGlobalTagsResponse'
        '400':
          description: Returned when the request is malformed or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: 'validation error: - name: value length must be at least 1 characters [string.min_len].'
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '401':
          description: Returned when the request was unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authorization requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '403':
          description: Returned when the request was forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The access token provided does not meet the authentication requirements.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
              examples:
                response:
                  value:
                    code: 123
                    message: The resource does not exist.
                    details:
                    - '@type': type.googleapis.com/google.rpc.ErrorInfo
                      reason: PAL000.000
                      domain: app.development.palisade.co/api
                      metadata: {}
                    - '@type': type.googleapis.com/google.rpc.RequestInfo
                      requestId: c817569e-b765-4e6e-a3af-bdb1d07e7517
                      servingData: ''
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Tags
components:
  schemas:
    v2WalletTag:
      type: object
      properties:
        walletId:
          type: string
          example: ce4918bf-a199-4ce2-85a3-d0d296855384
          description: The wallet ID
        vaultId:
          type: string
          example: ce4918bf-a199-4ce2-85a3-d0d296855384
          description: The vault ID
        tags:
          type: array
          example:
          - Issuing wallet
          items:
            type: string
          description: The tags belonging to the wallet
      required:
      - walletId
      - vaultId
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
      additionalProperties: {}
    v2VaultTag:
      type: object
      properties:
        vaultId:
          type: string
          example: ce4918bf-a199-4ce2-85a3-d0d296855384
          description: The vault ID
        tags:
          type: array
          example:
          - Treasury vault
          items:
            type: string
          description: The tags belonging to the vault
      required:
      - vaultId
    v2ListGlobalTagsResponse:
      type: object
      properties:
        walletTags:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/v2WalletTag'
            - type: object
        vaultTags:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/v2VaultTag'
            - type: object
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/protobufAny'
            - type: object
  securitySchemes:
    TokenAuth:
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  description: Click here for the API docs
  url: https://palisade.readme.io
